@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, html {
  margin: 0;
  padding: 0;
}


.custom-text {
  color: #250409;
}

.custom-noto-sans {
  font-family: 'Noto Sans Adlam Unjoined', sans-serif;
}

/* Section styles */
.custom-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40vh;

}

.custom-name-occupation {
  background-color: #FCE3E7;
}

.custom-about {
  background-color: #FCE3E7;

}

.custom-projects {
  background-color: #FCE3E7;
}

.custom-contact {
  background-color: #FCE3E7;
}

.dropdown {
  background-color: #FCE3E7;
  
}
/* Wrapper Styling*/
.wrapper,
.wrapper-about-me,
.wrapper-contact-name,
.wrapper-projects {
  max-width: 100vh;
  height: fit-content;
  border: 1vh solid rgb(134, 133, 133);
  background: white;
  text-align: center; 
  padding: 2vh;
  width: fit-content;
  margin-right:auto;
  margin-left:auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.wrapper-contact-name{



}
.wrapper-about-me{
  
}
.wrapper-projects{

}

.blurred {
  backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
  transition: backdrop-filter 0.3s ease; /* Add a smooth transition effect */
}

.clear-both::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
  padding: 2vh;
  display: flex;
  flex-direction:  row;
  justify-content: center;
  align-items: center;
}

.sticky-nav {
  position: sticky;
  top: 0;
  background: transparent;
  z-index: 100;
}
