@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, html {
  margin: 0;
  padding: 0;
}


.custom-text {
  color: #250409;
}

.custom-noto-sans {
  font-family: 'Noto Sans Adlam Unjoined', sans-serif;
}

/* Section styles */
.custom-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40vh;

}

.custom-name-occupation {
  background-color: #FCE3E7;
}

.custom-about {
  background-color: #FCE3E7;
}

.custom-projects {
  background-color: #FCE3E7;
}

.custom-contact {
  background-color: #FCE3E7;
}

.dropdown {
  background-color: #FCE3E7;
  
}

.wrapper {
  width: fit-content;
  max-width: 100vh;
  height: fit-content;
  border: 1vh solid rgb(134, 133, 133);
  margin-top: 10vh;
  margin-left: 10vh;
  background: white;
  text-align: center; 
  padding: 2vh;
}